.header {
    height: 100px;
    /* border: 1px solid red; */
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    padding: 0 4rem;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    /* border: 2px solid red; */
  }
  
  .link:hover {
    color: black;
  }
  
  .dropdown {
    position: relative;
    /* border: 1px solid red; */
    /* width: 200px; */
  }
  
  .profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .dropdownMenu {
    width: 150px;
    color: #57bcb7;
    z-index: 1;
    position: absolute;
    left: -100%;
    top: calc(100%+ 0.5rem);
    background-color: white;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
  }
  
  .dropdown > .link:focus + .dropdownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .logo{
      width: 150px;
      height: 50px;
  }
  
  .dropdownMenu > p {
    cursor: pointer;
  }
  
  .leftBox {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .cartLogo{
      height: 40px;
      width: 40px;
      cursor: pointer;
  }
  .rightBox {
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .cartBox{
      position: relative;
  }
  
  .cartItemCount{
      height: 20px;
      width: 20px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: green;
      color: white;
      border-radius: 50%;
      
  }